@font-face {
	font-family: Coves;
	src: url(fonts/Coves_Light.otf);/* format("truetype");*/
}

.box {
 float: left;
 width: 48%;
 margin-right: 2%;
 padding: 20px;
 background: #eee;
 box-sizing: border-box;
}

/*------------------ Footer----------------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
	font-family: Coves;
	padding-top: 5px;
	padding-bottom: 5px;
}