<!DOCTYPE html>
<html>
    <head>
        <title>404 - Page Not Found</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <header class="header">
            <a href="/" class="logo"> MUSIC GENIE</a>
        </header>
        <main class="main"><br>
            <a href="/"><img src="linkIcon.png" class="linkIcon" alt="">Go back to main page</a><br><br>
            <h1>404 - Page Not Found</h1>
        </main>
        <footer class="footer">
	       &copy; 2020 - MADE BY DON PROMILLO (7737633, 1626763, 8917780)
        </footer>
    </body>
</html>