<!DOCTYPE html>
<html>
    <head>
        <title>MUSIC GENIE</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css?sd=1">
        <meta charset="UTF-8">
    </head>
    <body>
        <header class="header">
            <a href="/" class="logo"> <img src="logo.png" id="logoPNG" alt=""> MUSIC GENIE</a>
        </header>
        <main class="main">
            <br>{linkToMainAPI}<br><br>
            <form method="get">
                <label for="tbArtist"><strong>Artist:</strong></label><br>
                <input id="tbArtist" type="text" value="{artistValue}" name="Artist"><br>
                <label for="tbSongTitle"><strong>Songtitle:</strong></label><br>
                <input id="tbSongTitle" type="text" value="{songTitleValue}" name="SongTitle"><br><br>
                <button>Enter</button>
            </form><br><br>
            {interpret}<br>{songTitle}<br>{albumTitle}<br><br>
            {listeners}<br>{playCount}<br>
            {tags}
		    {albumCover}<br><br><br><br><br><br><br><br><br><br><br>
            {linkToAPILanguages}<br><br>
            {translateOption}
            <div class='box'>{lyrics}</div>
            <div class='box'>{translatedLyrics}</div>
        </main>
        <footer class="footer">
	       &copy; 2020 - MADE BY DON PROMILLO (7737633, 1626763, 8917780)
        </footer>
    </body>
</html>